// General
@link: rgb(148, 114, 77);

// Background
@bg-color: rgb(0, 0, 0);
@bg-pos: 120% -80px;
@bg-size: calc(~'20% - -950px');
@bg-dynamic: false;

// Subreddit bar
@srbar-bg: #161616;
@srbar-border: lighten(@srbar-bg, 8%);
@srbar-color: rgb(150, 150, 150);
@srbar-alt-color: rgb(0, 150, 255);

// Server status
@status-tabs: 9;
@status-pos-x: calc(~'40% - 132px');
@status-pos-y: 132px;
@status-tab-width: 46px;
@status-tab-height: 20px;
@status-none: rgb(50, 50, 50);
@status-norm: rgb(57, 155, 154);
@status-bad: rgb(235, 57, 57);
@status-warn: rgb(255, 156, 0);
@status-round: 6px;

// Main menu
@menu-round: 6px;

// Sidebar
@side-bg: rgba(0, 0, 0, 0.88);
@side-border: rgb(49, 48, 43);
@side-header-bg: rgba(200, 200, 200, 0.2);

@side-user-text: "Summoners";
@side-online-text: "on the Rift";

// Sections
@side-color: rgb(202, 181, 162);
@side-secondary-color: rgb(136, 136, 136);
@side-header-font-size: 18px;

// Submit buttons
@submit-bg: rgb(85, 54, 33);
@submit-color: rgb(202, 181, 162);
@submit-flood-warning: "Submissions are temporarily disabled to prevent excessive flooding.";
@submit-rules-warning: "Please read subreddit rules before submitting. Subscribe or hover to dismiss.";

// News
@news-num: 4;
@news-height: 65px;
@news-opacity: 0.75;
@news-fade: rgba(0, 0, 0, 0.5);
@news-font: "TradeCn","Arial Narrow",Arial,Helvetica,sans-serif;
